<app-dropdown [filterSaved]="optionSelected" (changeSelect)="onChangeSelection($event)" [options]="options" [placeholder]="'Select your news'"></app-dropdown>

<ng-container *ngIf="newsList && newsList?.length! > 0">
    <div class="grid-container mt-2 mb-2">
      <ng-container *ngFor="let item of newsList">
        <app-news-card (addFavorite)="saveFavorites($event)" (removeFavorite)="removeFavorites($event)" [newsItem]="item"></app-news-card>
      </ng-container>
    </div>
    <div (onVisible)="scrollDown()"></div>
</ng-container>
<ng-container *ngIf="!optionSelected && (newsList && newsList?.length! == 0)">
  <h4 class="text-center">There are not news yet</h4>
</ng-container>
