.news-card{
  display: flex;
  justify-content: space-between;
  border: 1px solid var(--gray-4);
  border-radius: 6px;
  height: 90px;
  padding: 0 0 0 2rem;
}

.news-card>.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.news-card>.content>p{
  margin: 0;
  font-weight: 500;
}

.news-card>.content>.time{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.news-card>.btn-favorite{
  display: flex;
  align-items: center;
  padding: 2rem;
  background-color: var(--black-3-rgba);
  border-radius: 0 6px 6px 0;
}

.clock-icon{
  width: 16px;
  height: 16px;
}

.fav-icon{
  height: 22px;
  width: 24px;
}