.nav {
  box-shadow: var(--elevation-2);
  background-image: linear-gradient(to bottom, var(--gray-2) -32%, var(--white) 124%);
  position: relative;
  min-height: 5rem;
  display: flex;
  align-items: center;
  padding: 1rem 1rem 1rem 8rem;
}

@media (max-width: 575.98px) {
  .nav{
    padding: 1rem;
  }
}
