body{
  background-color: var(--gray-1);
  font-family: var(--main-font-family);
  margin: 0;
  padding: 0;
}
h1,h2,h3,h4,h5,h6{
  color: var(--black-3);
  font-family: var(--title-font-family);
}
p{
  color: var(--black-2);
}
li{
  list-style: none;
}
