.grid-container{
  display: grid;
  column-gap: 3rem;
  row-gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 1199.98px) { 
  .grid-container {
      grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 991.98px) { 
  .grid-container {
      grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 575.98px) { 
  .grid-container {
      grid-template-columns: repeat(1, 1fr);
  }
}