:root{
  --title-font-family: 'Baskervville', serif;
  --main-font-family: 'Roboto', sans-serif;
  --black-5: #3b3b3b;
  --black-4: #3B3B3B;
  --black-3: #606060;
  --black-3-rgba: hsla(0, 0%, 38%, 0.06);
  --black-2: #6B6B6B;
  --black-1: #767676;
  --gray-4: #979797;
  --gray-3: #D6D6D6;
  --gray-2: #ECECEC;
  --gray-1: #FCFCFC;
  --white: #FFFFFF;
  --blue: #1797FF;
  --elevation-2: 0 1px 4px 0 rgba(0, 21, 41, 0.12);
  --elevation-1: 0 2px 2px 0 #dad8d8;
}